@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply m-0 p-0
}

body {
    @apply font-jost m-0 p-0;
}

p {
    @apply text-sm;
}

.center {
    @apply flex items-center;
}

.between {
    @apply flex justify-between;
}
.bold {
    @apply font-bold;
}
.nav-button {
    @apply w-24 mt-0 px-6 py-2;
}
.images {
    @apply w-24 h-12 object-contain  rounded-lg
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}